---
name: "Build Image"

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Lint Containerfile
        uses: hadolint/hadolint-action@v1.6.0
        with:
          dockerfile: Containerfile

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [ amd64, arm64 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        id: setup_qemu
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: setup_buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Container
        id: build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Containerfile
          platforms: linux/${{ matrix.platform }}
          load: true
          tags: ministryofjustice/hmpps-ems-actions-toolkit:latest-${{ matrix.platform }}

      - name: Scan Container
        id: scan
        uses: anchore/scan-action@v3
        with:
          image: ministryofjustice/hmpps-ems-actions-toolkit:latest-${{ matrix.platform }}
          fail-build: true
          severity-cutoff: critical
          acs-report-enable: true

      - name: Upload Anchore scan SARIF report
        id: upload_serif_report
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}